{% extends "index.html" %}
{% block content %}
<!--
  Student Name: Dylan Walsh
  Student Number: L00163199
  Description: The purpose of this file is to
  give a explanation about the web app and its purpose
-->
<div class="about">
    <h2>About</h2>
    <p>This is a web application centered around data visualisation developed using the Flask framework to help convert the results of the data analysis side of my project into a more user-friendly format. The project was centered around investigating the likelihood of Irish reunification on the basis of there being a possible relationship between the growing popularity towards Irish nationality party Sinn Fein and the topic of Irish Unity. And if there were such a relationship, that the sentiment towards this be used as a means of prediction to give an insight into how users may feel about the idea of a united Ireland in the next decade. If it were to be highly positive, this could be used as justified grounds of believing a united Ireland may be likely.</p>
</div>
{% endblock %}
