{% extends "index.html" %}

{% block content %}
<!--
  Student Name: Dylan Walsh
  Student Number: L00163199
  Description: The purpose of this file is to
  give a basic disclaimer about the project and app
-->
<div class="about">
    <h2>Disclaimer</h2>
    <p>The mined tweets in this project have been completely anonymised as per GDPR guidelines, specifically article 4(5). This was achieved by not storing usernames nor tweet IDs which could be used to track the user. The contents of the tweet have also been preprocessed to retain the context of the tweet but not in the exact original manner to further anonymise the tweets. Generally, pseudonymisation would only be required but given the demographics extracted, full anonymisation was done to ensure privacy protection. This project in no way is affiliated nor bias towards Sinn Fein, the party is simply one of the factors in the hypothesis.</p>
</div>
{% endblock %}
